body {
    margin-top: 200px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -100px;
}

a {
    color: red;
    text-decoration: none;
  }

  a:hover {
      color: salmon;
  }

#todays-challenge {
    color: rgb(170,96,83);
    font-size: 52px;
    font-weight: bold;
}

main {
    width: 800px;
    margin: 36px auto 0 auto;
    background-color: rgb(225, 115, 101);
    padding-bottom: 20px;
    box-shadow: 10px,10px,4px, rgba(0, 0, 0, 1);
}


